<div class="sift-classification">
  {{#if model.sift_response }}
    <div>
      {{#if model.sift_response.tokenized_solution}}
        {{#each model.sift_response.tokenized_solution.slots as |slot|}}
          {{#if slot.is_pre}}
            {{! TODO: sometimes pre should be shown? (vertical filter, etc }}
            {{~else~}}
            <span class="sift-classification-unit sift-risk-{{slot.risk}} {{if slot.join_left (concat 'sift-unit-join-left-risk-' slot.risk)}} {{if slot.join_right (concat 'sift-unit-join-right-risk-' slot.risk)}}">
              {{if slot.original slot.original slot.text }}
            </span>
          {{/if}}
        {{/each}}
        {{~else~}}
        <span>{{i18n 'sift.no_sift_tokenized'}}</span>
      {{/if}}
    </div>
    {{~else~}}
    <span>{{i18n 'sift.no_sift_info'}}</span>
  {{/if}}
</div>
